@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flexActionFLC{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @font-face {
    font-family: "Bold_Text";
    src: url(../fonts/Fredoka_Expanded-Bold.ttf);
  }
  @font-face {
    font-family: "Light_Text" ;
    src: url(../fonts/Fredoka_Expanded-Light.ttf);
  }
  @font-face {
    font-family: "Regular_Text" ;
    src: url(../fonts/Fredoka_Expanded-Regular.ttf);
  }
}.HomeFile{
  background-image: url("https://i.pinimg.com/originals/a4/9c/d4/a49cd4206506fcd2dd5d04927ca96e9a.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}
